@model MovieProject.Domain.ViewModels.Movie.AddInfoViewModel
@{
    ViewData["Title"] = "Admin Home Page";
}

<div class="text-center">
    <h1 class="display-4">Add Genre</h1>
</div>



<form asp-action="Add" method="post"> 
   <div> 
      <label asp-for="title"></label> 
      <input asp-for="title" /> 
      <span asp-validation-for="title"></span> 
   </div> 
   <div> 
      <input type = "submit" value = "Save" /> 
   </div> 
</form>